<h1>learn Binding</h1>

<!-- modification interpolation -->
<!-- <p>nama saya : {{nama}}</p>
<p>panjang nama saya adalah : {{nama.length}}</p>
<p>mengubah nama saya menjadi besar : {{nama.toUpperCase()}}</p> -->
<!-- call function -->
<!-- <p>{{getUser()}}</p> -->

<!-- <h1>Learn Property Banding</h1> -->
<!-- dengan interpolasi -->
<!-- <input id="{{getId}}" type="text" value="insert in here"/><br><br> -->
<!-- dengan [] -->
<!-- <input [disabled]="disableFalse" type="text" value="insert in here"/><br><br> -->
<!-- dengan tambahan bind-* -->
<!-- <input bind-disabled="disableTrue" type="text" value="insert in here"/> -->

<!-- <h1>Class Binding</h1> -->
<!-- class default -->
<!-- <p class="success textBold">Class Binding</p> -->
<!-- with binding class -->
<!-- <p [class]="bold">Class Binding</p> -->
<!-- <p [class.error]="succes">Class Binding</p> -->
<!-- with binding class dg directive / secara objek-->
<!-- <p [ngClass]="messageText">Class Binding</p> -->

<h2>Style Binding</h2>
<!-- untuk satu properti secara langsung -->
<p [style.color]="'red'">Lerning style binding</p>
<!-- mengunakan variabel -->
<p [style.color]="textColor">Lerning style binding</p>
<!-- menggunakan kondisi untuk style -->
<p [style.color]="error ? 'red' : textColor">Lerning style binding</p>
<!-- untuk banyak property menggunakan objek -->
<p [ngStyle]="textStyle">Lerning style binding</p>