<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- membuat expession dasar -->
  <!-- <div>
    <h1>Make Expression : {{title}}</h1>
    <h2>Make Expression String and Number</h2>
    <p>saya membeli {{produk + "dengan harga "+ harga}}</p>
    <h2>Make Expression Object</h2>
    <p>nama pelanggan saya {{pelanggan.nama + 'umur '+pelanggan.umur+' beralamat di '+pelanggan.alamat}}</p>
    <p>bila sekarang ia umur {{pelanggan.umur + 'maka 10 tahun lagi ia berumur ' + (pelanggan.umur + 10)}}</p>
    <h2>Make Expression Array</h2>
    <p>memuculkan satu data Array : {{nomorAcak[5]}}, fulla data {{nomorAcak}}</p>
  </div> -->

  
    <!-- belajar componen -->
    <!-- memanggil componen dengan tag -->
    <app-learn></app-learn>
    <!-- <app-learn (cData)="receivedMessage=$event" [pData]="message"></app-learn> -->
    <!-- <p>{{receivedMessage}}</p> -->
    <!-- memanggil componen dengan class 
  <div class="app-learn">
  </div> -->
  <!-- memanggil componen dengan directive -->
  <!-- <div app-learn>  </div> -->
</body>
</html>
<router-outlet></router-outlet>